* {
  padding: 0;
}

body {
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  padding: 50px;
  position: relative;
  margin: auto;
  border-radius: 14px;
  margin-top: 10px;
  box-sizing: border-box;
  
}

form input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


.control {
  padding: 5px;
  border: 2px solid rgba(240, 140, 10, 0.342);
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 20px;
  background: rgba(255, 174, 25, 0.418);
}

input:focus {
  border: 2px solid #f2796e;
}

.select {
  padding: 10px;
  border: 2px solid #f2796e;
  border-radius: 4px;
  background: #ffa500;
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
}

li {
  display: inline-block;
}

p {
  color: #b33636;
  float: inline-start;
}



.btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #4caf50;
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: #fff;
  background-color: #4caf50;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.p {
  color: #f2796e;
}

.delete {
  appearance: none;
  background-color: transparent;
  border: 2px solid #f2796e;
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
  margin-top: 10px;
  margin-bottom: 10px;
}

.delete:disabled {
  pointer-events: none;
}

.delete:hover {
  color: #fff;
  background-color: #f2796e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.delete:active {
  box-shadow: none;
  transform: translateY(0);
}

.btnSubmit {
  appearance: none;
  background-color: transparent;
  border: 2px solid #0fc2c2;
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnSubmit:disabled {
  pointer-events: none;
}

.btnSubmit:hover {
  color: #fff;
  background-color: #0fc2c2;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btnSubmit:active {
  box-shadow: none;
  transform: translateY(0);
}

h1 {
  color: #fff;
  margin: auto;
  text-align: center;
  font-size: 6rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #e60000, 0 0 10px #e60000,
    0 0 10px #e60000, 0 0 40px #e60000, 0 0 10px #e60000;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}