h1 {
  color: #fff;
  margin: auto;
  text-align: center;
  font-size: 6rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #e60000, 0 0 10px #e60000,
    0 0 10px #e60000, 0 0 40px #e60000, 0 0 10px #e60000;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
