body {
  background: url(../assets/landing2.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: #fff;
  margin: auto;
  text-align: center;
  font-size: 6rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #e60000, 0 0 10px #e60000,
    0 0 10px #e60000, 0 0 40px #e60000, 0 0 10px #e60000;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #e60000;
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  height: 90px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
  position: relative;
  margin-top: 16%;
  margin-right: 3%;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: #fff;
  background-color: #e60000;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}
